@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: #fff;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.degree-section span {
  font-size: 1.8rem;
}
.degree-section h2 {
  font-size: 2.8rem;
}
