@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: "Roboto", sans-serif;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.change-color {
  position: absolute;
  top: 20%;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 83px;
  height: 30px;
  margin: -8px 8px;
  color: rgba(0, 0, 0, 0.87);
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}
